/* line 4 */
html, body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-weight: 300;
  line-height: 32px;
  color: #444;
  font-size: 16px;
  background-color: #f0f0f0;
}

/* line 15 */
body {
  margin: 64px 16px;
}

@media screen and (max-width: 720px) {
  /* line 20 */
  body {
    margin: 20px;
  }
}
/* line 25 */
header {
  margin-bottom: 20px;
}

/* line 30 */
p, ul {
  margin: 0 0 10px 0;
}

/* line 34 */
ul {
  padding-left: 1.1em;
}

/* line 38 */
li {
  margin: 0;
}

/* line 42 */
a {
  color: #777;
  text-decoration: none;
}

/* line 47 */
a:hover {
  color: white;
  background-color: #00ccff;
  text-decoration: none;
}

/* line 53 */
h1 {
  font-weight: 500;
  font-size: 36px;
  margin: 0 0 18px;
}

/* line 59 */
.subhead {
  margin-bottom: 27px;
}

/* line 63 */
h2 {
  margin: 0 0 .5em 0;
  font-weight: bold;
}

/* line 68 */
hr {
  border: none;
  height: 1px;
  display: block;
  background-color: #ccc;
  color: transparent;
  margin: 1em 0;
}

/* line 77 */
#page {
  width: 614px;
  min-width: 400px;
  margin: auto;
  padding: 30px;
  padding-bottom: 20px;
  border: 12px solid #e9e9e9;
  background-color: #f6f6f6;
}

/* line 87 */
#portfolio {
  width: 640px;
}
/* line 89 */
#portfolio section {
  clear: both;
  margin-bottom: 40px;
}
/* line 93 */
#portfolio section .content {
  margin: 20px 0 100px;
}
/* line 98 */
#portfolio section .media .slideshow, #portfolio section .media .pic {
  background-color: white;
  overflow: hidden;
  height: 408px;
  width: 610px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 7px #888;
  -moz-box-shadow: 0 3px 7px #888;
  -webkit-box-shadow: 0 3px 7px #888;
}

/* line 114 */
.nav {
  margin: 12px 0 0 1px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
/* line 119 */
.nav a {
  margin-right: .2em;
  display: block;
  text-indent: -1000px;
  float: left;
  height: 1.3em;
  width: 1.3em;
  background-color: rgba(0, 152, 231, 0.5);
  text-decoration: none;
}
/* line 129 */
.nav a.activeSlide {
  background-color: #0098e7;
  color: #666;
}
/* line 132 */
.nav a.activeSlide:hover {
  background-color: #0098e7;
}
/* line 137 */
.nav a:hover {
  background-color: yellow;
}

/* line 143 */
.slideshow {
  cursor: pointer;
}
