/* line 4 */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  line-height: 32px;
  color: black;
  font-size: 20px;
  background-color: white;
}

/* line 14 */
body {
  margin: 40px;
}

@media screen and (max-width: 720px) {
  /* line 19 */
  body {
    margin: 20px;
  }
}
/* line 24 */
header {
  margin-bottom: 20px;
}

/* line 29 */
p, ul {
  margin: 0 0 10px 0;
}

/* line 33 */
li {
  margin: 0;
}

/* line 37 */
a {
  color: #777;
  text-decoration: none;
}

/* line 42 */
a:hover {
  color: white;
  background-color: #00ccff;
  text-decoration: none;
}

/* line 48 */
h1 {
  font-weight: bold;
  font-size: 36px;
  margin: 0 0 18px;
}

/* line 54 */
.subhead {
  margin-bottom: 27px;
}

/* line 58 */
h2 {
  margin: 0 0 .5em 0;
  font-weight: bold;
}

/* line 63 */
hr {
  border: none;
  height: 1px;
  display: block;
  background-color: #ccc;
  color: transparent;
  margin: 1em 0;
}

/* line 72 */
#page {
  max-width: 640px;
  min-width: 400px;
  margin: auto;
}

/* line 79 */
#portfolio {
  width: 640px;
}
/* line 81 */
#portfolio section {
  clear: both;
  margin-bottom: 40px;
}
/* line 85 */
#portfolio section .content {
  margin: 20px 0 100px;
}
/* line 90 */
#portfolio section .media .slideshow, #portfolio section .media .pic {
  background-color: white;
  overflow: hidden;
  height: 408px;
  width: 610px;
  border: 1px solid #ccc;
  box-shadow: 0 3px 7px #888;
  -moz-box-shadow: 0 3px 7px #888;
  -webkit-box-shadow: 0 3px 7px #888;
}

/* line 106 */
.nav {
  margin: 12px 0 0 1px;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
/* line 111 */
.nav a {
  margin-right: .2em;
  display: block;
  text-indent: -1000px;
  float: left;
  height: 1.3em;
  width: 1.3em;
  background-color: rgba(0, 152, 231, 0.5);
  text-decoration: none;
}
/* line 121 */
.nav a.activeSlide {
  background-color: #0098e7;
  color: #666;
}
/* line 124 */
.nav a.activeSlide:hover {
  background-color: #0098e7;
}
/* line 129 */
.nav a:hover {
  background-color: yellow;
}

/* line 135 */
.slideshow {
  cursor: pointer;
}
