!!!
%html
  %head
    %title Brent Fitzgerald
    %meta{:content => @content || "Constructor of software, Director of Engineering at card.io, friends of plants",
          :name => "description"}
    %meta{:content => "brent fitzgerald, taco lab, tacolab, mit, media lab, stanford, symbolic systems, sifteo, siftables, design, technology, digital, network, physical language workshop, plw",
          :name => "keywords"}

    %link{:href => "favicon16.png", :rel => "shortcut icon"}/
    %link{:href => "http://fonts.googleapis.com/css?family=PT+Sans:400,700", :rel => "stylesheet", :type => "text/css"}
    = stylesheets
  %body
    #page
      %h1
        Brent Fitzgerald

      = yield


    / %script{:charset => "utf-8", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js", :type => "text/javascript"}
    = javascripts("https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js")
    = javascripts('jquery.cycle.all.min', 'bpf')
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    :javascript
      try {
      var pageTracker = _gat._getTracker("UA-452652-1");
      pageTracker._setDomainName(".brentfitzgerald.com");
      pageTracker._trackPageview();
      } catch(err) {}

